/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: white;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}


/* LAYOUT */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33%;
}


/* STATI */
.active {
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  transition: 0.3s;
}